* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  overflow: hidden;
}
.container {
  display: flex;
}
/* main {
  width: 100%;
  padding: 40px;
} */
.sidebar {
  background: #606060;
  color: #fff;
  height: 100vh;
  /* width: 300px; */
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 80px;
}
.logo {
  font-size: 30px;
}
/* .bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
} */
.link {
  display: flex;
  margin-top: 10px;
  /* justify-content: center; */
  color: #fff;
  padding: 10px 40px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active {
  background: lightskyblue;
  color: #000;
}
/* .icon,
.link_text {
  font-size: 20px;
} */
